{
  "root": true,
  "extends": [
    "eslint:recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:react/recommended",
    "airbnb"
  ],
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "overrides": [
    {
      "files": ["./tools/*.js"],
      "rules": {
        "import/no-extraneous-dependencies": "off"
      }
    }
  ],
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [
          [ "~", "./src" ]
        ],
        "extensions": [ ".js", ".jsx" ]
      }
    }
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jquery": true,
    "jest": true
  },
  "globals": {}
}
